body {
  font-family: monospace;
}
h1 {
  font-family: "Black Han Sans", sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bolder;
  color: #2b042b;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
  color: #d681c1;
}
p::first-letter {
  text-transform: capitalize;
}

.container {
  max-width: 700px;
  background: #fffeff;
  margin: 30px auto;
  padding: 0;
  border: 3px solid #bdbdbd;
  border-radius: 20px;
}

.weather-app-domain-name {
  border-top: 1px solid #bdbdbd;
  border-right: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  padding-left: 5px;
  padding-right: 0;
}
.icon {
  margin-left: 10px;
  margin-bottom: 3px;
}

.nav-bar {
  background-color: #cea2fd;
  padding: 5px 0;
  padding: 6px 0;
  font-size: 12px;
  border: 2px solid #bdbdbd;
  opacity: 1;
}
.search-bar {
  background: #fbfbfb;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
}

.woogle-blue {
  color: #1c1ca8;
}
.woogle-pink {
  color: #e58858;
}
.woogle-orange {
  color: #dc9d0d;
}
.woogle-red {
  color: #be3859;
}
.woogle-green {
  color: #3bf33b;
}
.search-form {
  text-align: center;
  margin-top: 50px;
}

.city-input-name {
  width: 400px;
  height: 40px;
  background: #f5e6fa;
  border: 1px solid #cea2fd;
  border-radius: 15px;
  margin-bottom: 8px;
}

.btn {
  background: #f5e6fa;
  color: #1d1515;
  border: 1px solid #cea2fd;
  border-radius: 15px;
  height: 41px;
  margin-bottom: 3px;
}
.btn:hover {
  background: #d681c1;
  color: #fcf4f4;
  border: 1px solid #f5e6fa;
  border-radius: 15px;
  margin-left: 0;
}
.weather-description {
  margin-left: 40px;
}
.weather-update {
  margin-top: 10px;
}
.description {
  margin-left: 30px;
}

.temperature {
  font-size: 50px;
  color: #2b042b;
}
.units {
  position: relative;
  top: -22px;
  font-size: 18px;
}
.date {
  text-align: center;
  font-style: italic;
}
